@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-montserrat), system-ui, -apple-system, sans-serif !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-oswald: var(--font-oswald)
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Marquee */

:root {
  --color-text: #0b1120;         /* navy-like */
  --color-bg: #020617;           /* dark background */
  --color-bg-accent: #111827;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

.marginauto {
  border: yellow 2px solid;
  margin: auto !important;
}

/* Marquee core */
.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

/* Vertical mode */
.marquee--vertical {
  --mask-direction: to bottom;
}

.marquee--vertical,
.marquee--vertical .marquee__group {
  flex-direction: column;
}

.marquee--vertical .marquee__group {
  animation-name: scroll-y;
}

/* Reverse direction for 2nd row */
.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

/* Keyframes */
@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes scroll-y {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}


/* Modern scrollbar (WebKit: Chrome/Edge/Safari) */
.scrollbar-modern::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-modern::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 999px;
}

.scrollbar-modern::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(99, 102, 241, 0.9));
  border-radius: 999px;
  border: 2px solid rgba(0, 0, 0, 0.35);
}

.scrollbar-modern::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, rgb(255, 255, 255), rgba(236, 72, 153, 0.95));
}

/* Firefox */
.scrollbar-modern {
  scrollbar-width: thin;
  scrollbar-color: rgba(254, 255, 255, 0.9) rgba(255, 255, 255, 0.06);
}